<html>
<head>
	<title>bellamusic</title>
<meta name="baidu-site-verification" content="syEzneyFtp" />
</head>
<body>
	<script src="/static/common/js/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/common/bootstrap-3.3.2-dist/css/bootstrap.min.css">

	<!-- Optional theme -->
<!--	<link rel="stylesheet" href="/static/common/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
<script src="/static/common/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8" style="max-width:60%">
				<img id="index_banner"></img>
			</div>
			<div class="col-md-3" style="margin-top: 100px;font-size: x-large;">
				<ul>
					<li><a href="/bellawiki/">Wiki</a></li>
					<li><a href="/admin/">后台管理</a></li>
				</ul>
			</div>
		</div>
	</div>

	<script>
		$('#index_banner').attr('src', 'static/img/banner/a'+(Math.floor(Math.random()*100)+1)+'.jpg')
	</script>
-->
<a href='/bellawiki/'><img src='static/img/home.jpg' style="width:100%"><img></a>
</body>
</html>
